body{
    margin:0;
    padding: 0;
    
}

a{
    text-decoration: none;  
    font-family: "Roboto";
    
}
li{
    list-style: none;
   
}


hr{
    width: 100%;
    height: 1px;
   background-color: #ccc;
  border: none;
}

nav{
    background-color:#3F72E9; 
    width: 100%;
    height:3.7rem ;
    color:#FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
   
     
 }


nav a{
    text-decoration: none;
    color:#FFFFFF
}

hr{
    width: 100%;
    height: 1px;
   background-color: #ccc;
  border: none;
  margin: 1rem 0;
}


#header{
        margin: 0;
        display: flex;
        justify-content: center;       
    }

    /* .navbar-list {
        list-style: none;
        margin:10px 10px;
        color: white;
      
        
    } */
    
    
  
    
    li.searchbar-list{
    margin:5px 0;
    }
    

.searchbar{
margin:0.4rem 0.1rem 1rem;
width:40vw;
height: 6.4vh;
}
.logo{
    width: 6rem;
    height: 1.9rem;
    margin:1rem 0.1rem;
    
}
.become-seller{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    margin:1rem 1rem;
    padding-left: 1rem;
}

.cart{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    margin:1rem 0;
    padding-left: 1rem;
}

.display_none{
    display: none;
}


.product{
    display: flex;
    justify-content: space-around;
}

.product_details{
    display: flex;
}
.specifications{
   padding: 0;
}
.ratings{
    display: flex;
}

.rating-pill{
    width: 1.9rem;
    height: 1rem;
    margin-top: 1.2rem;
    margin-right: 0.5rem;
    background-color: #508C47;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
}

.product_pricing{
    margin-top: 1.2rem;
}

.price_list{
    padding-left:0 ;
}
.product-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
    }
    .phone-image{
        margin-top:2.5rem;
        width: 10rem;
        height: 12rem;
    }


    .specifications{
        margin: 0;
        padding: 0;
        margin-left: 15px;
      
    }
    
  .specifications li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    }
    .span_list{
        text-decoration: line-through;
    }

    .price_list_ul{
        padding-left: 14%;
        line-height: 1.3rem;
    }
    
    .price{
    font-family: 'Roboto';
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 25px;  
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    }
    
.bold{
    font-style: bold;
}

.bank_offers_button{
    border: none;
    background-color: #ffffff;
   color:#508C47;
   font-size: 0.90rem;
   font-weight: bold;
   padding-left: 0;
   
}

.add_to_compare_div{
    margin: 0rem 12.8rem;
}

.add_to_cart_div{
    margin: 2rem  12.8rem 1rem;
}

.add_to_compare_dialog_box{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 217, 217);
    font-size: larger;

}
.all_products_div{
    display: flex;
    flex-direction: row;
}
.id_of_all_products_div{
    display: flex;
    flex-direction: row;
}

.cross_img{
    width: 0.5rem;
    height: 0.5rem;
    padding-left: 5rem;
}
.compare_product_img{
    width: 5rem;
    height:7rem
}

.each_product_div{
    margin: 1rem 0.3rem;
    font-size: 0.7rem;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
  

}

.product_name_for_each_product{
    width: 4rem;
    text-align: center;

}

.display_none{
    display: none;
}

.remove_all_button{
    font-family: "Roboto";
   background-color: rgb(241, 235, 235);
    font-size: 0.9rem;
    border-width: 1px;
    border-color: rgb(224, 217, 217);
    margin-right: 0.5rem;
    width: 40%;
    
}

.compare_all_button{
    font-family: "Roboto";
    background-color:#3F72E9; 
    font-size: 0.9rem;
    border-width: 1px;
    border-color: rgb(224, 217, 217);
    margin-right: 0.5rem;
    color: white;
    width: 48%;

    
   
}

.compare_dialog_box_buttons_div{
   padding: 1rem;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-items: flex-end;
   
}
.footer{
    background-color: #1A2335;
}
.coloums_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coloums_div_1{
    display: flex;
    color: white;
    font-family: "Roboto";
}

.coloums_div_1 li{
    display: flex;
    color: white;
    font-family: "Roboto";
    font-size: 0.8rem;
    line-height: 1.6rem;
}
.coloums_div_2{
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
    line-height: 1.6rem;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem
}
.list_div_2{
    width: 20rem;
    color: white;
    font-family: "Roboto";
    line-height: 1.6rem;
}

.col_div_2_innerElement{
    color: white;
    font-family: "Roboto";
    line-height: 1.6rem;
    font-size: 0.8rem;

}

#col_div_2_innerElement1{
    padding-right: 1rem;
}

.footer_hr{
    border: 1px;
    color: white;
}
#bottomColunms{
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
}
.bottom_coloums_div_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem;
}

.icon_text{
    color: white;
    font-family:"Roboto";
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
    width: 8rem;
}
.copyright{
    color: white;
    font-family: "Roboto";
}


.bottom_coloums_div_2{
    margin-left: 8rem;
}

@media (min-width: 320px) and (max-width: 768px) {
    .product{
        flex-direction: column;
    
    }
    .product_pricing{
        margin-left: 11.5rem;
    }

    .phone-image{
        margin-left:1rem ;
    }
    .logo{
        margin-left: 1.5rem;
    }
    .searchbar{
        width: 40rem;
        margin-left: 1rem;
    }
}