body {
    margin: 0;
    font-family: "Roboto"

}

nav {
    background-color: #3F72E9;
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #FFFFFF
}

.searchbar {
    width: 507px;
    height: 40px;
    margin: 8px 16px 8px 16.84px;
    text-indent: 8px;


}

input::placeholder {
    font: 12px/3 "Roboto";
}

.logo {
    width: 89.61px;
    height: 23.31px;
    margin-top: 2px;

}

.become-seller {
    /* margin: 0 24px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 1px 10px 0 0;


}

.cart {
    margin: 0 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 1px 10px 0 0;
    padding-left: 10px;
}

.product {
    display: flex;
    padding: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;

}

.img_and_details_div {
    display: flex;
    align-items: center;
}

.product-image {
    width: 204px;
    height: 220px;
    object-fit: contain;
}

.product-name {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    margin: 0;
}

.ratings {
    display: flex;
}

.ratings_and_reviews {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 17px;
    margin-bottom: 14px;
}

.rating-pill {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 2px 2px 4px;
    width: 40px;
    height: 18px;
    background: #508C47;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: white;
    padding: 2px;

}

.specifications {
    list-style-type: disc;
    margin-top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 24px;
}
.specifications_ul{
    padding-left: 24px;
    margin-top: 10px;
}
.product_pricing {
    margin-right: 184px;
}
.bold{
    font-weight:bold;
}
.price_list_ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
}

.pricing_info_ul {
    padding: 4px 0px 0px 0px;
    margin: 4px 0px 0px 0px;
    line-height: 15px;
    font-weight: 200;
}

.pricing_info {
    list-style: none;
    line-height: 17px;
    font-size: 12px;
    font-weight: 400;
}

.offer_percentage {
    color: #508C47;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.bank-offers {
    color: #508C47;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.product_hr{
    border: 1px solid rgb(229, 229, 233);
    opacity: 0.50;
}
footer {
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 1396px;
    justify-content: space-around;
    background: #1A2335;
}

footer h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #878787;
}

footer p {
    width: 250px;
    text-align: left;
}



footer ul {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;

}

.footer_div_1 {
    display: flex;
}

.footer_div_2 {
    display: flex;
}

.upperColumns {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    margin-top: 40px;
}

.upper_coloums_div_1 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 20px;
}

.coloums_div_2 {
    display: flex;
    flex-direction: row;
    margin-right: 78px;
    justify-content: space-between;
    margin-bottom: 30px;

}

#col_div_2_innerElement1{
    width: 200px;
    height: 133px;
    font-size:12px;
}

#col_div_2_innerElement2{
    width: 200px;
    height: 133px;
    font-size:12px;
    margin-left:40px;
}

.footerSections {
    margin-top: 0;
    width: 170px;
    font-weight: 500;
    font-size: 12px;

}
.ul_title_head {
    color: gray;
    margin-top: 0;
    margin-bottom: 6px;
}

.col_div_2_title {
    color: gray;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 4px;
}

.vertical_hr_footer {

    border: 1px solid #474D5D;
    rotate: 180deg;
    margin-top: 0;
    margin-right: 25px;
    height: 110px;



}

.col_div_2_innerElement1{
    width: 232px;
    height:133px;
}
.col_div_2_innerElement2{
    width: 232px;
    height:133px;
}


.telephone {
    color: #3D72E8;
}

.footer_hr {
    rotate: 90deg;
    margin: 0px;
    padding: 0;

}

#bottomColunms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    border-top: 1px solid #474D5D;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bottom_coloum_div_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
}

.bottom_coloums_div_1 {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    width: 175px;
    align-items: center;
}

.bottom_coloum_div_2 {
    margin-right: 100px;
}



.icon_img {
    width: 15px;
    padding-right: 8px;
}

.icon_text {
    font-weight: 600;
}

.copyright {
    font-size: 14px
}